/.phpunit.cache
/node_modules
/dist
/build
/release
/src-tauri/target
/grosir-eki-*-win32-*
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*
/storage/app/private/*
/vendor
.env
.env.*
!.env.example
.env.backup
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
pnpm-debug.log
yarn-debug.log
*.log
/coverage
/tmp
/temp
/uploads
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_Store
Thumbs.db
